.Container {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
}

.ProductImageContainer {
    background: none;
    max-height: 427px;
    width: 329px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    overflow: visible;
}

.ProductImage {
    width: 100%;   
    height: auto;        
    max-width: none;    
    max-height: none; 
    transform: scale(1); 
    transition: transform 0.3s ease;
}


.DefaultCircle {
    position: absolute;
    bottom: -20px; 
    left: 50%;
    width: 100%; 
    height: 220px;
    transform: translateX(-50%);
    border: 1px dashed #ffffff;
    border-radius: 50%;
    opacity: 1;
    transition: opacity 0.3s ease;
    pointer-events: none; 
}



@keyframes slideUp {
    from {
        bottom: -40px;
        opacity: 0;
    }
    to {
        bottom: 10px;
        opacity: 1;
    }
}

@media (hover: none) {
    .Container:hover .DefaultCircle {
      opacity: 1; 
    }
  }

