
.Container{
    display: flex;
    flex-direction: column;
    gap: 36px;
    padding-bottom: 51px;
}


.PartnersGrid{
    display: flex;
    gap: 34px;
    max-width: 100%;
    overflow-x: auto;
    scrollbar-width: none;
    padding-left: 60px;
}

.PartnersGrid::-webkit-scrollbar {
    width: 0px;
    display: none;
}

@media (max-width:900px) {
    .Container{
        display: flex;
        flex-direction: column;
        gap: 12px;
        padding: 35px 0 60px 0 ;
    }

    .PartnersGrid{
        display: flex;
        gap: 20px;
        max-width: 100%;
        overflow-x: auto;
        scrollbar-width: none;
        padding: 0 16px;
    }
    
}

