
.Container{
    display: flex;
    flex-direction: column;
    gap: 36px;
}


.PartnersGrid{
    display: flex;
    gap: 34px;
    max-width: 100%;
    overflow-x: auto;
    scrollbar-width: none;
    padding-left: 60px;
}

.PartnersGrid::-webkit-scrollbar {
    width: 0px;
    display: none;
}


