.Header {
  width: 100%;
  color: var(--text-color-white);
  height: 114px;
  position: absolute;
  display: flex;
  align-items: center;
  background: transparent;
  z-index: 111;

}

.Header {
  width: 100%;
  color: var(--text-color-white);
  height: 114px;
  position: absolute;
  display: flex;
  align-items: center;
  background: transparent;
  z-index: 111;
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.HeaderContent {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 70px;
  animation: fadeIn 1s ease-in-out;

}

.DuetLogo {
  width: auto;
  height: auto;
}

.nav {
  display: flex;
  gap: 16px;
  align-items: center;
}

.link {
  color: var(--text-color-white);
  text-decoration: none;
  font-size: 18px;
  padding: 10px;
}

.link:hover {
  text-decoration: underline;
}

.flagSelector {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.flagContainer {
  position: absolute;
  top: 100%;
  left: 0;
  background: white;
  border: 1px solid #ccc;
  z-index: 10;
  display: flex;
  flex-direction: column;
}

.flagOption {
  padding: 5px;
  cursor: pointer;
}

.flagOption:hover {
  background: #f0f0f0;
}

.selectedFlag img {
  /* border: 1px solid #ccc; */
  border-radius: 3px;
}


.burgerButton {
  display: none;
}

/* mobile header */
@media (max-width:1440px) {
  .nav {
    display: none;
  }
}


/* footer styles */
.footer {
  color: var(--text-color-white);
  text-align: center;
  padding: 35px 20px 42px 20px;
  z-index: 1;
  width: 100%;
  height: auto;

}


.footerSize {
  width: 100%;
  height: auto;
  margin: 0 auto;
  display: flex;
}

.footerIcon {
  width: 25%;
  height: 50px;
  display: flex;
  justify-content: flex-start;
  margin-top: 20px;
}

.footerImages {
  width: 55%;
  height: 37px;
}

.footerLinks {
  width: 25%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.ul {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 20px;
  line-height: 20px;
}

.linkTitle {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
}

.links {
  padding-top: 0px;
  font-size: 15px;
  font-weight: 400;
  padding-top: 20px;
}

.footerLinksSize {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 30px;
}

.footerContactUs {
  width: 25%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footerContactUsTitle {
  font-size: 18px;
  font-weight: 700;
  padding-top: 20px;
}

.footerContactUsIcons_text {
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.footerContactUsIcons_text_size {
  width: 90%;
  height: auto;
  display: flex;
  position: relative;
  margin-top: 20px;
}

.footerImageIcons {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 0px;
}


.footerTextStyle {
  padding-left: 30px;
}

.footerSpan {
  padding-right: 35px;
}

.footerFollowCont {
  width: 15%;
  display: flex;
  flex-direction: column;
  gap: 50px;
  height: auto;
}


.footerFollowMe {
  font-size: 18px;
  padding-top: 20px;
}


.footerFollowIcons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}





/* mobile footer */

@media (max-width:1440px) {

  .footer {
    color: var(--text-color-white);
    text-align: center;
    padding: 35px 20px 42px 20px;
    z-index: 1;
    bottom: 0;
    width: 100%;
    height: auto;

  }


  .footerSize {
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }

  .footerIcon {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: flex-start;
    margin-top: 20px;
  }

  .footerImages {
    width: 55%;
    height: 37px;
  }

  .footerLinks {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
  }

  .ul {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 20px;
    line-height: 20px;
  }

  .linkTitle {
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
  }

  .links {
    padding-top: 0px;
    font-size: 15px;
    font-weight: 400;
    padding-top: 20px;
  }

  .footerLinksSize {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 30px;
  }

  .footerContactUs {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .footerContactUsTitle {
    font-size: 18px;
    font-weight: 400;
    padding-top: 60px;
  }

  .footerContactUsIcons_text {
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;

  }

  .footerContactUsIcons_text_size {
    width: 100%;
    height: auto;
    display: flex;
    position: relative;
    margin-top: 20px;
  }

  .footerImageIcons {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 0px;
  }


  .footerTextStyle {
    padding-left: 30px;
    font-weight: 400;
  }

  .footerSpan {
    padding-right: 35px;
  }

  .footerFollowCont {
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 50px;
    height: auto;
  }


  .footerFollowMe {
    font-size: 18px;
    padding-top: 20px;
    font-weight: 700;
  }


  .footerFollowIcons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  .footerArmCoding {
    font-size: 12px;
    line-height: 15px;
    margin-top: 50px;
    font-weight: 400;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
}