.Header {
  width: 100%;
  color: var(--text-color-white);
  height: 114px;
  position: absolute;
  display: flex;
  align-items: center;
  background: transparent;
  z-index: 111;
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.HeaderContent {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 70px;
  animation: fadeIn 1s ease-in-out;
}

.DuetLogo {
  width: auto;
  height: auto;
}

.nav {
  display: flex;
  gap: 16px;
  align-items: center;
}

.link {
  color: var(--text-color-white);
  text-decoration: none;
  font-size: 18px;
  padding: 10px;
}

.link:hover {
  text-decoration: underline;
}

.flagSelector {
  position: relative;
  display: inline-block;
  cursor: pointer;

}

.flagContainer {
  background: rgb(49, 28, 28);
  border: 1px solid #ccc;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 25px;
  left: -5px;
  transition: 0.4s ease;
  animation: flagAnimationOpen 0.5s ease-in-out;
}
@keyframes flagAnimationOpen{
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.flagOption {
  padding: 5px;
  cursor: pointer;
  transition: 0.5s ease ;
}

.flagOption:hover {
  background: #f0f0f0;
}

.selectedFlag img {
  border-radius: 3px;
}




.footer {
  color: var(--text-color-white);
  text-align: center;
  padding: 35px 20px 42px 20px;
  z-index: 1;
  width: 100%;
  height: auto;

}


.footerSize {
  width: 100%;
  height: auto;
  margin: 0 auto;
  display: flex;
}

.footerIcon {
  width: 25%;
  height: 50px;
  display: flex;
  justify-content: flex-start;
}

.footerImages {
  width: 55%;
  height: 37px;
}

.footerLinks {
  width: 25%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.usefulHeadline {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  line-height: 20px;
}

.linkTitle {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
}

.links {
  padding-top: 0px;
  font-size: 15px;
  font-weight: 400;
}

.footerLinksContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  padding-top: 40px;
}

.footerContactUs {
  width: 25%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footerContactUsTitle {
  font-size: 18px;
  font-weight: 700;
}

.footerContactUsIcons_text {
  width: 100%;
  padding-top: 40px;
  display: flex;
  gap: 16px;
  flex-direction: column;
  justify-content: center;

}

.footerContactUsIcons_text_size {
  height: auto;
  display: flex;
  position: relative;
}

.footerImageIcons {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 0px;
}


.footerTextStyle {
  padding-left: 30px;
}

.footerSpan {
  padding-right: 35px;
}

.footerFollowContent {
  width: 15%;
  display: flex;
  flex-direction: column;
  gap: 50px;
  height: auto;
}


.footerFollowMe {
  font-size: 18px;
}


.footerFollowIcons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.BurgerMenuContainer {
  display: none;
}

.mobileDropdownMenu{
  display: none;
}

.footerArmCoding{
  margin-top: 40px;
}


/* mobile footer */

@media (max-width:900px) {

  .footer {
    color: var(--text-color-white);
    text-align: center;
    padding: 35px 20px 42px 20px;
    z-index: 1;
    bottom: 0;
    width: 100%;
    height: auto;
  }


  .footerSize {
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }

  .footerIcon {
    width: 80px;
    height: 50px;
    display: flex;
    justify-content: flex-start;
    margin-top: 0;
  }

  .footerImages {
    width: auto;
    height: auto;
  }

  .footerLinks {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding-top: 60px;
  }

  .usefulHeadline {
    width: 100%;
    height: auto;
    padding-top: 0;
  }

  .linkTitle {
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
  }

  .links {
    padding-top: 0px;
    font-size: 15px;
    font-weight: 400;
  }

  .footerLinksContainer {
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 0;
  }

  .footerContactUs {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .footerContactUsTitle {
    font-size: 18px;
    font-weight: 400;
    padding-top: 60px;
  }

  .footerContactUsIcons_text {
    display: flex;
    flex-direction: column;
    justify-content: center;

  }

  .footerContactUsIcons_text_size {
    height: auto;
    display: flex;
    position: relative;
  }

  .footerImageIcons {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 0px;
  }


  .footerTextStyle {
    padding-left: 30px;
    font-weight: 400;
  }

  .footerSpan {
    padding-right: 35px;
  }

  .footerFollowContent {
    width: 100%;
    padding-top: 60px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 53px;
    height: auto;
  }

  .footerFollowMe {
    font-size: 18px;
    font-weight: 700;
  }

  .footerFollowIcons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  .footerArmCoding {
    font-size: 12px;
    line-height: 15px;
    margin-top: 22px;
    font-weight: 400;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  .DuetLogo {
    position: relative;
    z-index: 100000;
    width: 80px;
    height: 49px;
  }

  .HeaderContent {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 23px 16px;
    animation: fadeIn 1s ease-in-out;
  }


  .Header {
    width: 100%;
    color: var(--text-color-white);
    height: auto;
    position: absolute;
    display: flex;
    align-items: center;
    background: transparent;
    z-index: 111;
    animation: fadeIn 1s ease-in-out;
  }

  .HeaderActive{
    background: #1c1c1c !important;
  }

  .nav {
    display: none;
  }

  .mobileDropdownMenu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 411px; 
    background: #1c1c1c;
    overflow: hidden;
    transform: translateY(-100%); 
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s ease, opacity 0.5s ease;
    z-index: 1000;
  }
  
    .mobileDropdownMenu.open {
    transform: translateY(0); 
    opacity: 1;
  }

  .MobileManuContent{
    display: flex;
    flex-direction: column;
    padding-top: 107px;
    gap: 16px;
    align-items: center;
    color: var(--text-color-white);
    width: 100%;

  }

  .mobileLink{
    font-size: 15px;
    line-height: 20px;
    letter-spacing: -0.23px;
    color: var(--text-color-white);
    padding: 10px;

  }

  .BurgerMenuContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 26px;
    width: 26px;
    position: relative;
    z-index: 10000;

  }


  .BurgerMenuIcon {
    height: max-content;
    width: max-content;
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.72); 
    z-index: 1000; 
  }



}



