.Container {
    width: 100%;
    padding-top: 36px;
}

.ProductsSlider {
    display: flex;
    width: 100%;
    height: 600px;
    overflow-x: auto;
    gap: 71px;
    scrollbar-width: none;
    position: relative;
    padding: 50px 33px 100px 33px;
    opacity: 0;
    transform: translateY(100px);
    animation: appearFromBottom 0.8s ease-out forwards;
}
.Animated {
    opacity: 0;
    
    transition: opacity 0.7s ease-out;
  }
  
  .Active {
    opacity: 1;
  }

@keyframes appearFromBottom {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.ProductsSlider::-webkit-scrollbar {
    width: 0px;
    display: none;
}


@media (max-width:900px) {

    .Container {
        width: auto;
        height: auto;
    }

    .ProductsSlider {
        display: flex;
        width: 100%;
        height: 100%;
        overflow-x: auto;
        overflow-y: hidden;
        gap: 37px;
        scrollbar-width: none;
        position: relative;
        padding-bottom: 10px;
        padding: 32px 16px 40px 16px;
        opacity: 0;
        transform: translateY(100px);
        animation: appearFromBottom 0.8s ease-out forwards;

    }

    @keyframes appearFromBottom {
        0% {
            opacity: 0;
            transform: translateY(100px);
        }

        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }

    .ProductsSlider::-webkit-scrollbar {
        width: 0px;
        display: none;
    }

}