.Container {
    width: 100%;
    padding-top: 36px;
}


.ProductsSlider {
    display: flex;
    width: 100%;
    overflow-x: auto;
    gap: 71px;
    scrollbar-width: none;
    position: relative;
    padding-bottom: 100px;
}


.ProductsSlider::-webkit-scrollbar {
    width: 0px;
    display: none;
}

.testKlor {
    width: 18%;
    border-radius: 100%;
    height: 200px;
    position: absolute;
    top: 250px;
    border: 2px dotted white;
    z-index: -1;
    transition: all 0.3s ease;
    opacity: 1; /* Изначально элемент видим */
    transform: scale(1); /* Начальный размер */
}

.animateKlor {
    opacity: 1; /* Скрываем элемент */
    transform: scale(0.9); /* Уменьшаем его размер */
    transition: all 0.3s ease; /* Плавный переход */
    background: radial-gradient(circle, #a11c1c 0%, #601111 100%);
    filter: blur(4px); /* Добавляет размытие на весь элемент */
    border: none;
    width: 20%;
    height: 400px;
    position: absolute;
    top:-30px;
    margin-left: -20px;
}
.hoverContent{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.testText{
    font-size: 16px;
    color: white;
    font-family: 400;

}
.buttonTest{
    width: 115px;
    height: 30px;
    background: none;
    border: 2px solid white;
    border-radius: 8px;
    font-size: 14px;
}








