.Container {
    padding: 114px 63px 100px 71px;
}

.ContentContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 75px;
}

.ProductionTabsContainer {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.ProductsWrapper {
    display: block;
    width: fit-content;
}

.ProductsContainer {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, max-content));
    gap: 69px 122px;
    padding-top: 104px;
    margin: 0 auto;
    justify-content: center;
    align-content: start;
}

.SectionContainer {
    display: flex;
    gap: 205px;
    justify-content: center;
    align-items: flex-end;
}

.TextContainer {
    display: flex;
    flex-direction: column;
   justify-content: center;
    min-width: 625px;
    gap: 53px;
}

.TextContainer span {
    font-size: 18px;
    line-height: 20px;
    letter-spacing: -0.23px;
    font-weight: 400;
    color: var(--text-color-white);
}

.ImageContainer {
    display: flex;
    height: 360px;
    min-width: 636px;
    border-radius: 8px;
}

.Image {
    height: 100%;
    width: 100%;
    background-size: cover;
    border-radius: 8px;
}

.ProductsContainerMobile{
    display: none;
}

@media (max-width:1570px) {

    .ContentContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 75px;
    }

    .SectionContainer {
        display: flex;
        gap: 20px;
        justify-content: center;
        align-items: flex-end;
    }

    .TextContainer {
        min-width: 1px;
    }

    .ImageContainer {
        display: flex;
        height: unset;
        min-width: 300px;
        width: 100%;
        aspect-ratio: 16/ 9;
        border-radius: 8px;
    }

    .Image {
        width: 100%;
        height: unset;
        aspect-ratio: 16/9;
        background-size: cover;
        object-fit: cover;
        border-radius: 8px;
    }
    
    .TextContainer span {
        font-size: 18px;
        line-height: 20px;
        letter-spacing: -0.23px;
        font-weight: 400;
        color: var(--text-color-white);
    }
}

@media (max-width:900px) {

    .Container {
        padding: 99px 16px 50px 16px;
    }

    .ContentContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
    }

    .SectionContainer {
        display: flex;
        flex-direction: column;
        gap: 47px;
        justify-content: center;
        align-items: center;
        padding-top: 40px;
    }

    .TextContainer {
        display: flex;
        flex-direction: column;
       justify-content: center;
        min-width: 0;
        max-width: 100%;
        gap: 32px;
    }

    .ImageContainer {
        display: flex;
        min-width: 0;
        border-radius: 8px;
        max-width: 500px;
    }
    
    .Image {
        height: unset;
        aspect-ratio: 16/9;
        width: 100%;
        background-size: cover;
        object-fit: cover;
        border-radius: 8px;
    }

    .ProductsContainer {
        display: none;
    }

    .ProductsContainerMobile {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 70px;
        padding-top: 42px;
        padding-bottom: 80px;
        justify-content: center;
        align-items: center;
    }

    .ProductWrapper{
        width: 100%;
        max-width: 330px;
    }

}