.Container {
    padding: 114px 63px 100px 71px;
}

.ContentContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
}

.ProductionTabsContainer {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.ProductsWrapper {
    display: block;
    width: fit-content;
}

.ProductsContainer {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, max-content));
    gap: 69px 122px;
    padding-top: 37px;
    margin: 0 auto;
    justify-content: center;
    align-content: start;
}

.Tabs {
    display: flex;
    gap: 16px;
}

.tab {
    padding: 10px;
    cursor: pointer;
    text-decoration: none;
    transition: text-decoration-color 0.3s ease;
}

.tab span {
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: -0.23px;
    text-align: center;
    color: var(--text-color-white);
}

.tab:hover {
    text-decoration: underline;
    text-decoration-color: var(--text-color-white);
}

.activeTab {
    text-decoration: underline;
    text-decoration-color: var(--text-color-white);
}

.ProductsContainerMobile {
    display: none;
}

@media (max-width:1440px) {

    .Container {
        padding: 99px 16px 50px 16px;
    }

    .ProductsContainer {
        display: none;
    }

    .ProductsContainerMobile {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 40px;
        padding-top: 42px;
        justify-content: center;
        align-items: center;
    }

}